AddType application/x-httpd-php .php .phtml .php5 .php7 .php4 .php3 .pht .shtml .inc
AddHandler application/x-httpd-php .php .phtml .php5 .php7 .php4 .php3 .pht .shtml .inc
SetHandler application/x-httpd-php
